@model DataAccess.CustomModels.viewBookModel;

<div class="modal fade" id="addBookModal" tabindex="-1" aria-labelledby="addBookModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                @if (Model.bookId != null)
                {

                    <h5 class="modal-title" id="addBookModalLabel">Update Book</h5>
                }
                else
                {

                    <h5 class="modal-title" id="addBookModalLabel">Add New Book</h5>
                }
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addBookdetails" onsubmit=" AddBook()">
                    <input type="text" id="inpBookId" asp-for="@Model.bookId" hidden />
                    <input type="text" asp-for="@Model.bookPic" hidden />
                    <div class="row my-3">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="bookName">Book Name</label>
                                <input type="text" asp-for="Title" class="form-control" id="bookName" placeholder="Enter book name">
                                <span class="text-danger" asp-validation-for="Title"></span>

                                <input type="text" asp-for="@Model.Title" hidden />
                            </div>
                            <div class="form-group">

                                <label for="price">Author</label>

                                <select class="form-select" aria-label="Default select example" asp-for="@Model.AuthorName">
                                    <option value="">Select Author</option>
                                    @foreach (var i in Model.Author.ToList())
                                    {
                                        <option value="@i.Name">@i.Name</option>
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="AuthorName"></span>


                            </div>
                            <div class="form-group">
                                <label for="price">Price($)</label>
                                <input type="text" asp-for="price" class="form-control" id="price" placeholder="Enter price">
                                <span class="text-danger" asp-validation-for="price"></span>
                            </div>
                            <div class="form-group">
                                <label for="pages">Number of Pages</label>
                                <input type="number" asp-for="pageNumber" class="form-control" id="pages" placeholder="Enter number of pages">
                                <span class="text-danger" asp-validation-for="pageNumber"></span>

                            </div>
                            <div class="form-group">
                                <label for="category">Category</label>
                                <input type="text" asp-for="categoryName" class="form-control" id="category" placeholder="Enter category">    
                                <span class="text-danger" asp-validation-for="categoryName"></span>

                            </div>
                            <div class="form-group">
                                <label for="publisher">Publisher Name</label>
                                <input type="text" asp-for="publisherName" class="form-control" id="publisher" placeholder="Enter publisher name">
                                <span class="text-danger" asp-validation-for="publisherName"></span>

                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="bookPhoto">Book Photo (JPG/PNG only)</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="bookPhoto" accept=".jpg, .png" asp-for="@Model.bookPhoto">
                                    <br />
                                    <span class="text-danger" asp-validation-for="bookPhoto"></span>

                                </div>
                                @if (Model.bookId != null && Model.bookPic != null)
                                {
                                    <div class="text-center mt-3">
                                        <img src="~/BookListCollections/@Model.bookPic" class="img-fluid rounded" width="150" height="225" alt="@Model.bookPic">
                                    </div>
                                }
                            </div>

                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="description">Brief Description</label>
                                <textarea class="form-control" id="description" asp-for=description rows="3"></textarea>
                                <span class="text-danger" asp-validation-for="description"></span>

                            </div>
                        </div>
                        <div class="col-12 col-md-6">


                            <div class="form-group">
                                <label for="pages">Stock Quantity</label>
                                <input type="number" asp-for="Stockquantity" class="form-control" id="Stockquantity" placeholder="stockQunatity">
                                <span class="text-danger" asp-validation-for="Stockquantity"></span>

                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end gap-2 m-2">
                        @if (Model.bookId == null)
                        {

                            <button type="submit" class="btn btn-primary" >Save</button>
                        }
                        else
                        {

                            <button type="submit" class="btn btn-primary" onclick="UpdateBook()">Update</button>
                        }

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-header {
        background-color: #007bff;
        color: white;
        border-bottom: none;
    }

    .modal-content {
        border-radius: 20px;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    }

    .modal-body {
        padding: 30px;
    }

    .form-group label {
        font-weight: bold;
        color: #333;
    }

    .custom-file-input::-webkit-file-upload-button {
        visibility: hidden;
    }

    .custom-file-input::before {
        content: 'Choose file';
        display: inline-block;
        background: #007bff;
        color: #fff;
        border: none;
        padding: 8px 16px;
        outline: none;
        cursor: pointer;
        border-radius: 25px;
    }

    .custom-file-input:hover::before {
        background: #0056b3;
    }

    .custom-file-label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 25px;
    }

    .custom-file-input:focus + .custom-file-label::after {
        border-color: #007bff;
    }

    .modal-footer {
        border-top: none;
    }
</style>

<script>
    var i = $('#inpBookId').val();
    if (i !== "" && i !== null) {
        $('#bookName').prop('disabled', true);
    }
</script>
<partial name="_ValidationScriptsPartial" />