@model DataAccess.CustomModels.AdminDashboardModel;
<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .container-fluid {
        padding: 30px 15px;
    }

    .card {
        border: none;
        border-radius: 10px;
        transition: box-shadow 0.3s ease-in-out;
        background-color: #fff;
    }

        .card:hover {
            box-shadow: 0 0 30px rgba(0,0,0,0.2);
        }

    .card-body {
        border-radius: 10px;
    }



    .row > .col-md-3,
    .row > .col-md-4,
    .row > .col-md-5,
    .row > .col-md-7 {
        margin-bottom: 20px;
    }

    canvas {
        width: 100%;
        height: auto;
        padding: 10px;
        background-color: aliceblue;
    }
</style>

<div class="">

    <div class="row mt-1">
        <div class="col-md-3 mb-4">
            <div class="card shadow bg-info-subtle">
                <div class="card-body  ">
                    <div class="d-flex justify-content-between align-items-center ">

                        <h5 class="card-title">New Orders</h5>
                        <i class="bi bi-file-earmark-plus-fill fs-1"></i>
                    </div>

                    <h2 class="card-subtitle mb-2 text-black">@Model.NewOrders</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card shadow  bg-warning-subtle">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center ">
                        <h5 class="card-title">Processing Orders</h5>
                        <i class="bi bi-gear fs-1"></i>
                    </div>
                    <h2 class="card-subtitle mb-2 text-black">@Model.ProcessingOrders</h2>

                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card shadow  bg-secondary-subtle">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center ">

                        <h5 class="card-title">Shipped Orders</h5>
                        <i class="bi bi-truck fs-1"></i>
                    </div>
                    <h2 class="card-subtitle mb-2 text-black">@Model.ShippedOrders</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card shadow  bg-success-subtle">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center ">

                        <h5 class="card-title">Delivered Orders</h5>
                        <i class="bi bi-file-earmark-check-fill fs-1"></i>
                    </div>
                    <h2 class="card-subtitle mb-2 text-black">@Model.DeliveredOrders</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Monthly Sales</h5>
                    <canvas id="myBarChart" style="height: 300px;"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-5 mb-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Daily Sales</h5>
                    <canvas id="myDailyBarChart" style="height: 300px;"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4 ">
            <div class="card shadow">
                <div class="card-body ">
                    <h5 class="card-title">Sales Distribution</h5>
                    <canvas id="myPieChart" style="height: 300px;"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title">@Model.NumberOfBooks</h4>
                    <p class="card-text fw-bold">Total Books</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title">@Model.NumberOfCustomers</h4>
                    <p class="card-text fw-bold">Total Customers</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title">$ @Model.SaleOfThisMonth</h4>
                    <p class="card-text fw-bold">Total Sales This Month</p>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Admin/GetChartData",
            type: "GET",
            dataType: "json",
            success: function (response) {
                var monthlySales = response.monthlySales;
                var categoryList = response.categoryList;
                var No_Of_Books = response.numberOfBooks;
                var dailySales = response.dailySales;
                renderMonthlySalesChart(monthlySales);
                renderDailySalesChart(dailySales);
                renderPieChart(categoryList, No_Of_Books);
            },
            error: function (xhr, status, error) {
                console.error("Failed to fetch data:", error);
            }
        });
    });

    function renderMonthlySalesChart(monthlySales) {
        var months = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"];

        new Chart("myBarChart", {
            type: "bar",
            data: {
                labels: months,
                datasets: [{
                    backgroundColor: "rgba(75, 192, 192)",
                    borderColor: "rgba(75, 192, 192)",
                    borderWidth: 1,
                    data: monthlySales
                }]
            },
            options: {
                legend: { display: false },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            callback: function (value, index, values) {
                                return '$' + value;
                            }
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Months'
                        }
                    }]
                }
            }
        });
    }

    function renderDailySalesChart(dailySales) {
        var days = getCurrentMonthDays();
        var currentDate = new Date();
        var month = currentDate.toLocaleString('default', { month: 'long' });
        var year = currentDate.getFullYear();

        var data = `Daily Sales - ${month}, ${year}`;


        new Chart("myDailyBarChart", {
            type: "bar",
            data: {
                labels: days,
                datasets: [{
                    label: data,
                    backgroundColor: "rgb(75, 192, 192)",
                    borderColor: "rgba(75,192,192)",
                    borderWidth: 1,
                    data: dailySales
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            callback: function (value, index, values) {
                                return '$' + value;
                            }
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Days'
                        }
                    }]
                }
            }
        });
    }


    function renderPieChart(categoryList, No_Of_Books) {
        var pieColors = [
            "#b91d47", "#00aba9", "#2b5797", "#e8c3b9", "#1e7145",
            "#ffbb00", "#7e3878", "#ff8c00", "#5f9ea0", "#808080"];

        new Chart("myPieChart", {
            type: "doughnut",
            data: {
                labels: categoryList,
                datasets: [{
                    backgroundColor: pieColors,
                    data: No_Of_Books
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Category-wise Book Sales"
                }
            }
        });
    }

    function getCurrentMonthDays() {
        var currentDate = new Date();
        var year = currentDate.getFullYear();
        var month = currentDate.getMonth() + 1;
        var daysInMonth = new Date(year, month, 0).getDate();

        var days = [];
        for (var i = 1; i <= daysInMonth; i++) {
            days.push(i);
        }
        return days;
    }

</script>


