@model DataAccess.CustomModels.Customer_MainPage;

@functions {
    public bool ischecked(int AuthorId)
    {
        return Model.search2 != null && Model.search2.Contains(AuthorId);
    }

    public bool ischecked2(int catId)
    {
        return Model.search3 != null && Model.search3.Contains(catId);
    }

    public bool ischecked3(int pubId)
    {
        return Model.search4 != null && Model.search4.Contains(pubId);
    }
}
<style>
    .dropdown {
        position: relative;
        color: #333;
        margin-bottom: 10px;
    }

        .dropdown .dropdown-list {
            padding: 12px;
            background: #fff;
            position: absolute;
            top: 30px;
            left: 0;
            right: 0;
            box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
            transform-origin: 50% 0;
            transform: scale(1, 0);
            transition: transform .15s ease-in-out .15s;
            max-height: 200px;
            overflow-y: auto;
            z-index: 1;
        }

        .dropdown .dropdown-option {
            display: block;
            padding: 8px 12px;
        }

        .dropdown .dropdown-label {
            display: block;
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            line-height: 1;
            cursor: pointer;
            padding: 8px 12px;
        }

        .dropdown.on .dropdown-list {
            transform: scale(1, 1);
            transition-delay: 0s;
        }

        .dropdown .dropdown-label:before {
            content: '▼';
            float: right;
        }

        .dropdown.on .dropdown-label:before {
            content: '▲';
        }

    .searchbar {
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .btn-primary {
        margin-right: 10px;
    }
</style>

<div class="">
    <div class="bookCategory">
        <h3 class="my-2 ms-1">All Books</h3>
    </div>
    <div class="mx-0 my-3 p-3">
        <div class="searchbar">
            <form id="searchForm" class="mb-2 gy-2 row">
                <div class="col-md-3 col-6">
                    <input asp-for="@Model.search1" type="text" class="form-control" id="bookTitle" placeholder="Book Title">
                </div>

                <div class="form-group col-md-3 col-6">
                    <div class="dropdown" data-control="checkbox-dropdown">
                        <label class="dropdown-label">Authors</label>
                        <div class="dropdown-list">
                            @foreach (var i in Model.Authors)
                            {
                                <label class="dropdown-option">
                                    <input class="AuthorData" type="checkbox" name="dropdown-group" checked="@ischecked(i.Authorid)" value="@i.Authorid" />
                                    @i.Name
                                </label>
                            }
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-3 col-6">
                    <div class="dropdown" data-control="checkbox-dropdown">
                        <label class="dropdown-label">Categories</label>
                        <div class="dropdown-list">
                            @foreach (var i in Model.categories)
                            {
                                <label class="dropdown-option">
                                    <input class="categorytdata" type="checkbox" name="dropdown-group" checked="@ischecked2(i.Categoryid)" value="@i.Categoryid" />
                                    @i.Categoryname
                                </label>
                            }
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-3 col-6">
                    <div class="dropdown" data-control="checkbox-dropdown">
                        <label class="dropdown-label">Publishers</label>
                        <div class="dropdown-list">
                            @foreach (var i in Model.publishers)
                            {
                                <label class="dropdown-option">
                                    <input class="publisherdata" type="checkbox" name="dropdown-group" checked="@ischecked3(i.Publisherid)" value="@i.Publisherid" />
                                    @i.Name
                                </label>
                            }
                        </div>
                    </div>
                </div>

                <div class="form-group d-flex justify-content-end col-md-12 mt-3">
                    <button type="submit" class="btn btn-primary" onclick="SearchParamsbooks()">Search</button>
                    <button type="reset" class="btn btn-secondary" onclick="AdminBookList()">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div id="dashTable">
        <div class="table-responsive ">
            <table id="book-table" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Book</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="book-tbody">
                    @foreach (var obj in Model.dashboardLists.ToList())
                    {
                        <tr>
                            <td>
                                <img src="~/BookListCollections/@obj.bookPhoto" class="p-0" width="100" height="150" alt="@obj.bookPhoto">
                            </td>
                            <td><span class="text-wrap fs-5">@obj.title</span></td>
                            <td>@obj.authorName</td>
                            <td>@obj.categoryName</td>
                            <td>@obj.price $</td>
                            <td>
                                <div class="d-flex gap-2">
                                    <buttton class="btn btn-primary" onclick="ViewBooksPage(@obj.bookId)">View More</buttton>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

<div id="loader" style="display: none;">
    <img src="~/backgroundImages/loader.gif" height="100" width="100" alt="Loading..." />
</div>


<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<script>
    function SearchParamsbooks() {
        event.preventDefault();

        let checkboxes = document.querySelectorAll(".AuthorData:checked");
        let checkboxes2 = document.querySelectorAll(".categorytdata:checked");
        let checkboxes3 = document.querySelectorAll(".publisherdata:checked");
        const search2 = [];

        var formData = new FormData($('#searchForm')[0]);
        checkboxes.forEach(function (checkbox) {
            formData.append('search2', checkbox.value);

        });
        checkboxes2.forEach(function (checkbox) {
            formData.append('search3', checkbox.value);

        });
        checkboxes3.forEach(function (checkbox) {
            formData.append('search4', checkbox.value);

        });

        console.log(formData);
        $.ajax({
            method: "POST",
            url: "/Home/HandleSearch",
            contentType: false,
            processData: false,
            data: formData,
            success: function (result) {
                $('#custDashboard').html(result);

            },
            error: function () {
                alert('Error loading partial view');
            }
        });
    }


    (function ($) {
        var CheckboxDropdown = function (el) {
            var _this = this;
            this.$el = $(el);
            this.$label = this.$el.find('.dropdown-label');
            this.$inputs = this.$el.find('[type="checkbox"]');



            this.$label.on('click', function (e) {
                e.preventDefault();
                _this.toggleOpen();
            });

            this.$inputs.on('change', function (e) {
                _this.onCheckBox();
            });
        };

        CheckboxDropdown.prototype.onCheckBox = function () {
            this.updateStatus();
        };

        CheckboxDropdown.prototype.updateStatus = function () {
            var checked = this.$el.find(':checked');



        };

        // Method to handle "Check All" functionality
        CheckboxDropdown.prototype.onCheckAll = function (checkAll) {
            if (!this.areAllChecked || checkAll) {
                this.areAllChecked = true;
                this.$checkAll.html('Uncheck All');
                this.$inputs.prop('checked', true);
            }
            else {
                this.areAllChecked = false;
                this.$checkAll.html('Check All');
                this.$inputs.prop('checked', false);
            }

            this.updateStatus();
        };

        CheckboxDropdown.prototype.toggleOpen = function (forceOpen) {
            var _this = this;
            if (!this.$el.hasClass('on')) {
                this.$el.addClass('on');
                $(document).on('click', function (e) {
                    if (!$(e.target).closest('[data-control]').length) {
                        _this.toggleOpen();
                    }
                });
            } else if (this.$el.hasClass('on')) {
                this.$el.removeClass('on');
                $(document).off('click');
            }
        };

        var checkboxesDropdowns = document.querySelectorAll('[data-control="checkbox-dropdown"]');
        for (var i = 0, length = checkboxesDropdowns.length; i < length; i++) {
            new CheckboxDropdown(checkboxesDropdowns[i]);
        }
    })(jQuery);


    $(document).ready(function () {
        var isLoading = false;

        function isScrolledToBottom() {
            return $(window).scrollTop() + $(window).height() >= $(document).height();
        }

        var pageNumber = 1;
        $(window).scroll(function () {
            if (isScrolledToBottom()) {
                if (pageNumber < 5) {
                    pageNumber++;
                    fetchMoreData(pageNumber);
                }

            }
        });

        function fetchMoreData(pageNumber) {
            console.log(pageNumber)

            if (isLoading) return;
            isLoading = true;
            $('#loader').show();


            setTimeout(function () {
                $.ajax({
                    url: "/Home/CustomerDashboardTable",
                    type: "POST",
                    data: { pageNumber: pageNumber },
                    // contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        $('#loader').hide();
                        $.each(result, function (index, obj) {
                            console.log(obj)
                            var html = `
                                                        <tr>
                                                            <td>
                                                                <img src="/BookListCollections/${obj.bookPhoto}" class="p-0" width="100" height="150" alt="${obj.bookPhoto}">
                                                            </td>
                                                            <td><span class="text-wrap fs-5">${obj.title}</span></td>
                                                            <td>${obj.authorName}</td>
                                                            <td>${obj.categoryName}</td>
                                                            <td>${obj.price} $</td>
                                                            <td>
                                                                <div class="d-flex gap-2">
                                                                    <buttton class="btn btn-primary" onclick="ViewBooksPage(${obj.bookId})">View More</buttton>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    `;
                            $('#book-table tbody').append(html);
                        });
                        isLoading = false;

                        $('#loader').hide();

                    },
                    error: function (err, xhr, a) {
                        $('#loader').hide();
                        alert('Error loading partial view');
                        isLoading = false;
                    }
                });
            }, 2000);

        }


    });


</script>

<div id="Modaldata"></div>
