@model DataAccess.CustomModels.UserProfile
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f3f3f3;
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    .main {
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        padding: 20px;
        width: 300px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        color: #555;
        font-weight: bold;
    }
</style>

<nav class="navbar navbar-expand-lg bg-light shadow-sm mb-5">
    <div class="w-100 d-flex justify-content-between">
        <div>
            <a class="navbar-brand fs-3 ms-3 fw-bolder text-primary" href="#">Online BookStore</a>
        </div>
    </div>
</nav>

<div class="container main w-100">
    <div class="headerdata d-flex justify-content-between">
        <h2 class="text-success">Registration Form</h2>
        <a class="me-2" asp-controller="Home" asp-action="Index">Back To Login</a>
    </div>
    <form action="" id="RegisterForm" onsubmit="RegisterPost()">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="form-floating my-2">
                    <input type="file" class="form-control" id="profilePhoto" asp-for="UserProfilePhoto" accept="image" onchange="previewPhoto(event)">
                    <label for="profilePhoto">Profile Photo</label>
                    <span class="text-danger"></span>
                </div>
                <div class="mt-2">
                    <img id="preview" src="#" alt="Preview" style="max-width: 100%; max-height: 200px; display: none;">
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class=" row">
                    <div class="col-12 col-md-6">
                        <div class="form-floating my-2">
                            <input type="text" class="form-control" id="floatingInputFirstName" asp-for=@Model.FirstName placeholder="First Name">
                            <label for="floatingInputFirstName">First Name</label>
                            <span class="text-danger" asp-validation-for="@Model.FirstName"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-floating my-2">
                            <input type="text" class="form-control" id="floatingInputLastName" asp-for=@Model.LastName placeholder="Last Name">
                            <label for="floatingInputLastName">Last Name</label>
                            <span class="text-danger" asp-validation-for="@Model.LastName"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-floating my-2">
                            <input type="date" class="form-control" id="floatingBirthDate" asp-for=@Model.Birthdate placeholder="Birth Date">
                            <label for="floatingBirthDate">Birth Date</label>
                            <span class="text-danger" asp-validation-for="@Model.Birthdate"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="my-2">
                            <select id="gender" name="gender" class="form-select" style="height:55px" asp-for="@Model.Gender" required>
                                <option value="male" selected>Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-floating my-2">
                            <input type="email" class="form-control" id="floatingEmail" asp-for=@Model.Email placeholder="Email Address">
                            <label for="floatingEmail">Email Address</label>
                            <span class="text-danger" asp-validation-for="@Model.Email"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-floating my-2">
                            <input type="password" class="form-control" id="floatingPassword" asp-for=@Model.Password placeholder="Password">
                            <label for="floatingPassword">Password</label>
                            <span class="text-danger" asp-validation-for="@Model.Password"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-floating my-2">
                            <input type="text" class="form-control" id="floatingContact" asp-for=@Model.Contact placeholder="Contact">
                            <label for="floatingContact">Contact</label>
                            <span class="text-danger" asp-validation-for="@Model.Contact"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-floating my-2">
                            <input type="password" class="form-control" id="floatingConPassword" asp-for=@Model.Password2 onchange="comparePassword()" placeholder="Confirm Password">
                            <label for="floatingConPassword">Confirm Password</label>
                            <span id="message"></span>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="form-floating my-2">
                            <input type="text" class="form-control" id="floatingCity" asp-for=@Model.City placeholder="City">
                            <label for="floatingCity">City</label>
                            <span class="text-danger" asp-validation-for="@Model.City"></span>
                        </div>
                    </div>
                    <div class="col-12 ">
                        <div class="form-floating my-2">
                            <textarea class="form-control" id="floatingAddress" asp-for=@Model.Address placeholder="Address" style="height: 100px;"></textarea>
                            <label for="floatingAddress">Address</label>
                            <span class="text-danger" asp-validation-for="@Model.Address"></span>
                        </div>
                    </div>



                </div>

            </div>
        </div>


        <div class="d-flex gap-2 w-100 justify-content-end">
            <button class="btn btn-success p-2 px-3" type="submit">Submit</button>
            <a id="reset" class="btn btn-secondary p-2 px-3">Reset</a>
        </div>
    </form>
</div>
<partial name="_ValidationScriptsPartial" />



<script>
    const resetButton = document.querySelector('form #reset');

    resetButton.addEventListener('click', function (event) {
        event.preventDefault();

        const inputFields = document.querySelectorAll('form input, form textarea, form select');

        inputFields.forEach(function (input) {
            input.value = '';
        });

        const genderDropdown = document.querySelector('form select[name="gender"]');
        genderDropdown.selectedIndex = 0;
    });

    function comparePassword() {
        if ($('#floatingPassword').val() !== $('#floatingConPassword').val()) {
            $('#message').html('Passwords do not match').css('color', 'red').show();
        } else {
            $('#message').hide();
        }
    }


    function previewPhoto(event) {
        const input = event.target;
        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                $('#preview').attr('src', e.target.result).show();
            };

            reader.readAsDataURL(input.files[0]);
        } else {
            $('#preview').attr('src', '#').hide();
        }
    }


</script>